<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Property Finder (Scotland)</ion-card-subtitle>
      <ion-card-title>The Future</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This app is hot off the press and contains only a fraction of the features to come, so, we need your
      help in shaping the future so you get the most value first.
    </ion-card-content>
  </ion-card>

</ion-content>
