agm-map {

  width: 100%;
  height: 100%;

}

.watch-btn {
  position: fixed;
  left: 13px;
  top: 70px;
  z-index: 1000;
}

.locate-btn {
  position: fixed;
  left: 154px;
  top: 70px;
  z-index: 1000;
}

.home-marker {
  color: blue;
}
